@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;800&display=swap');

body {
  @apply .font-body;
  @apply .bg-primary;
  @apply .text-primary;
  @apply .leading-loose;
  @apply .font-light;
}

h1 {
  @apply .font-display;
  @apply .font-extrabold;
  @apply .text-6xl;
  @apply .mx-auto;
  @apply .mt-16;
  @apply .mb-16;
  @apply .text-center;
}

h2 {
  @apply .font-extrabold;
  @apply .text-2xl;
}

h3 {
  @apply .text-2xl;
}

h4 {
  @apply .font-extrabold;
}

h5 {
  @apply .font-semibold;
}

h6 {
  @apply .font-semibold;
  @apply .uppercase
}

p, div, li {
}

p + p {
  @apply .mt-8;
}

strong {
  @apply .font-extrabold;
}


em {
  @apply .font-semibold;
  @apply .not-italic;
}

button {
  @apply .bg-tertiary;
  @apply .pt-2;
  @apply .pb-2;
  @apply .pl-4;
  @apply .pr-4;
  @apply .mt-8;
  @apply .mb-8;
  @apply .font-extrabold;
  @apply .uppercase;
  @apply .duration-200;
  @apply .shadow-lg;
}

button:active {
  @apply .shadow-md;
}

nav {
  @apply .bg-tertiary;
  @apply .pt-2;
  @apply .pb-2;
  @apply .shadow-lg;
}

nav div {
  @apply .flex;
  @apply .flex-wrap;
  @apply .justify-between;
}

nav ul {
  @apply .flex-auto;
  @apply .flex;
  @apply .justify-end;
}

nav ul li {
  @apply .ml-6;
}

nav a.nav-selected {
  @apply .font-extrabold;
}

nav a#home {
  @apply .font-extrabold;
}

#portfolio article {
  @apply .pt-8;
}

#portfolio img {
  @apply .relative;
  top: 4rem;
  @apply .shadow-lg;
  @apply .object-fill;
}

#portfolio button {
  @apply: .pb-none;
}

div.break-lg {
  height: 8rem;
}

div.break-xl {
  height: 16rem;
}
