@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply .font-body;
  @apply .bg-primary;
  @apply .text-primary;
  @apply .leading-loose;
  @apply .font-light;
}

h1 {
  @apply .font-display;
  @apply .font-extrabold;
  @apply .text-6xl;
  @apply .mx-auto;
  @apply .mt-16;
  @apply .mb-16;
  @apply .text-center;
}

h2 {
  @apply .font-display;
  @apply .font-extrabold;
  @apply .text-2xl;
  @apply .leading-tight;
  @apply .pb-2;
}

h3 {
  @apply .font-display;
  @apply .text-2xl;
  @apply .leading-tight;
  @apply .pb-2;
}

h4 {
  @apply .font-display;
  @apply .font-extrabold;
}

h5 {
  @apply .font-display;
  @apply .font-semibold;
}

h6 {
  @apply .mt-8;
  @apply .font-display;
  @apply .font-semibold;
  @apply .uppercase
}

p, div, li {
  @apply .font-body;
}

p + p {
  @apply .mt-8;
}

p + h2 {
  @apply .mt-8;
}

h4 + p {
  @apply .mt-8;
}

strong {
  @apply .font-extrabold;
}


em {
  @apply .font-semibold;
  @apply .not-italic;
}

button {
  @apply .bg-tertiary;
  @apply .pt-2;
  @apply .pb-2;
  @apply .pl-4;
  @apply .pr-4;
  @apply .mt-8;
  @apply .mb-4;
  @apply .font-semibold;
  @apply .uppercase;
  @apply .duration-200;
  @apply .shadow-lg;
  min-width: 8rem;
}

button.button-tertiary {
  @apply .pl-0;
  @apply .pr-0;
  @apply .pt-2;
  @apply .pb-2;
  @apply .ml-0;
  @apply .mr-0;
  @apply .mt-2;
  @apply .mb-2;
  @apply .bg-transparent;
  @apply .uppercase;
  @apply .font-semibold;
  @apply .text-sm;
  @apply .duration-200;
  @apply .shadow-none;
  min-width: 0;
}

button:active {
  @apply .shadow-md;
}

button.button-tertiary:active {
  @apply .shadow-none;
  @apply .text-tertiary;
}

button.button-tertiary:hover {
  @apply .text-secondary;
}

nav {
  @apply .bg-tertiary;
  @apply .pt-2;
  @apply .pb-2;
  @apply .shadow-lg;
}

nav div {
  @apply .flex;
  @apply .flex-wrap;
  @apply .justify-between;
}

nav ul {
  @apply .flex-auto;
  @apply .flex;
  @apply .justify-end;
}

nav ul li {
  @apply .ml-6;
}

nav a.nav-selected {
  @apply .font-extrabold;
}

nav a#home {
  @apply .font-extrabold;
}

#portfolio article {
  @apply .pt-8;
}

#portfolio img {
  @apply .relative;
  top: 4rem;
  @apply .shadow-xl;
  @apply .object-fill;
}

#portfolio img + img {
  @apply: .pt-8;
}

#portfolio button {
  @apply: .pb-none;
}

div.break-lg {
  height: 4rem;
}

div.break-xl {
  height: 16rem;
}

section#experience div {
  @apply .leading-normal;
}

section#experience ul {
  @apply .list-none;
  @apply .list-outside;
}

section#experience li:before {
  content: '\25AA';
  float: left; 
  margin-left: -1rem;
}

section#experience article + article {
  @apply .mt-8;
}

div.quotemark {
  @apply .align-top;
  @apply .font-extrabold;
  @apply .text-secondary;
  @apply .text-6xl;
  @apply .text-right;
  @apply .relative;
  top: -2.5rem;
}

div.quotation {
  @apply .font-semibold;
}

div.quotation p.cite {
  @apply .font-light;
  @apply .leading-normal;
  text-indent: -1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

footer {
  @apply .bg-secondary;
  @apply .text-xs;
  @apply .leading-normal;
  @apply .p-4;
}

div.avatar img {
  width: 30%;
  display: block;
  margin: 0 auto 4 auto;
  clip-path: circle(50% at center);
}
